* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Glory", serif;
}

body {
  width: 100vw;
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#heading {
  width: 100%;
  height: 100%;
  background-image: url("./assets/backPage.png");
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  color: white;

  h1 {
    width: 70%;
    font-size: 80px;
    line-height: 104px;
    letter-spacing: -0.01em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(255, 255, 255, 1);
  }

  h3 {
    width: 38%;
    font-size: 24px;
    line-height: 38.4px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(255, 255, 255, 0.6);
  }
}

header {
  margin-top: 40px;
  margin-bottom: 90px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;

  ul {
    display: inline-flex;
    justify-content: space-between;
    gap: 100px;
    list-style: none;
    font-size: 18px;
  }
}

.inputDiv {
  width: 350px;
  padding: 5px 15px;
  height: 60px;
  border-radius: 30px;
  display: inline-flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.15);

  input {
    width: 100%;
    height: 100%;
    font-size:18px ;
    background: none;
    outline: none;
    color: white;
    border: none;
    padding: 0px 10px;
  }

  input::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: orange;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 18px;
    height: 18px;
  }
}
